#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp S  &kp T  &kp P    &kp H  &kp STAR  &kp F  &kp P  &kp L         &kp T  &kp D
&kp S  &kp K  &kp W    &kp R  &kp STAR  &kp R  &kp B  &kp G         &kp S  &kp Z
              &kp DOT  &kp A  &kp O     &kp E  &kp U  &kp NONSHARP
            >;
        };
    };
};
